*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-color: hsl(0, 0%, 0%, 0.9);
}

.lights {
    display: flex;
    justify-content: center;
}

.light {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: hsl(250, 50%, 50%);
    margin: 20px;
    margin-top: 10px;
}

.light::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 15px;
    width: 11px;
    height: 11px;
    background-color: hsl(10, 50%, 50%);
    border-bottom: 1px solid hsl(210, 0%, 100%);
}

.light::after {
    content: "";
    position: absolute;
    top: -15px;
    width: 85px;
    left: 20px;
    height: 15px;
    border-radius: 100%;
    border-bottom: 2px solid hsl(0, 30%, 50%);
}

.light:last-child::after {
    border-bottom: none;
}

.red {
    background-color: hsl(0, 70%, 50%);
    animation: glow-red 1s infinite;
    transition: 1s linear;
}

.green {
    background-color: hsl(120, 70%, 50%);
    animation: glow-green 1s infinite;
    transition: 1s linear;
}

.blue {
    background-color: hsl(220, 70%, 50%);
    animation: glow-blue 1s infinite;
    transition: 1s linear;
}

.orange {
    background-color: hsl(30, 70%, 50%);
    animation: glow-orange 1s infinite;
    transition: 1s linear;
}

@keyframes glow-red {
    0%, 
    100% {
        box-shadow: 0 0 20px 5px hsl(0, 50%, 50%);
    }

    50% {
        box-shadow: none;
    }
}

@keyframes glow-green {
    0%,
    100% {
        box-shadow: none;
    }

    50% {
        box-shadow: 0 0 20px 5px hsl(120, 50%, 50%);
    }
}

@keyframes glow-blue {
    0%,
    100% {
        box-shadow: 0 0 20px 5px hsl(230, 50%, 50%);
    }

    50% {
        box-shadow: none;
    }
}

@keyframes glow-orange {
    0%,
    100% {
        box-shadow: none;
    }

    50% {
        box-shadow: 0 0 20px 5px hsl(20, 50%, 50%);
    }
}

/* General */

.general {
    margin-top: 100px;
}

.general__title {
    font-size: 56px;
    color: white;
    text-align: center;
    text-shadow: 0 0 30px white;
    letter-spacing: 0.5em;
}

.general__controls {
    margin-top: 50px;
}